<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjjdsy.amc.sys.mc.mapper.MsgNotificationMapper">

	<insert id="insertMsgNotification" parameterType="com.bjjdsy.amc.sys.mc.entity.MsgNotification">
		<selectKey keyProperty="msgId" resultType="java.lang.Long" order="BEFORE" >
			SELECT SEQ_MODE.NEXTVAL as MSG_ID from DUAL
		</selectKey>
		insert into MSG_NOTIFICATION (MSG_ID,ORG_CODE,POST_CODE,USER_ID,TITLE,CONTENT,READ_FLAG,MSG_TIME) values (
		#{msgId,jdbcType=BIGINT},#{orgCode,jdbcType=VARCHAR},#{postCode,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},
		#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{readFlag,jdbcType=VARCHAR},#{msgTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="updateMsgNofitication" parameterType="java.lang.Long">
		update MSG_NOTIFICATION set READ_FLAG = '1' where MSG_ID = #{msgId,jdbcType=BIGINT}
	</update>
</mapper>